@using Microsoft.AspNetCore.Components.Forms

<div class="h-screen items-center flex">
    <EditForm class="max-w-md mx-auto" Model="Request" OnSubmit="LoginAsync">
        <div class="mb-5">
            <label for="email" class="block mb-2 text-sm font-medium text-gray-900">Je email</label>
            <input id="email" @bind="Request.Email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 w-full p-2.5" placeholder="Email" />
        </div>
        <div class="mb-5">
            <label for="password" class="block mb-2 text-sm font-medium text-gray-900">Je wachtwoord</label>
            <input id="password" @bind="Request.Password" type="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 w-full p-2.5" placeholder="Password" />
        </div>
        <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">Inloggen</button>
    </EditForm>
</div>
