@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Forms

<PageTitle>Edit UpdateReservation</PageTitle>

@if (Reservation == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <EditForm Model="Request" OnValidSubmit="UpdateReservationAsync" class="max-w-md mx-auto mt-8 shadow-md p-6 bg-white rounded-lg">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="mb-4">
            <label for="from" class="block text-gray-700 font-bold mb-2">From date and time:</label>
            <InputDate id="from" class="form-control block w-full mt-1" @bind-Value="Request.From" placeholder="From" />
            <input type="time" id="fromDate" class="form-control block w-full mt-1" @bind="Request.From" />
        </div>
        <div class="mb-4">
            <label for="until" class="block text-gray-700 font-bold mb-2">Until</label>
            <InputDate id="until" class="form-control block w-full mt-1" @bind-Value="Request.Until" placeholder="Until" />
            <input type="time" id="eventTime" class="form-control block w-full mt-1" @bind="Request.Until" />
        </div>

        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
            Update
        </button>
    </EditForm>

}


