<PageTitle>Vehicles</PageTitle>

@if (vehicles == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="overflow-x-auto my-10 mx-[2.5%]">
        <table class="w-[95%] bg-white border border-gray-200">
            <thead class="bg-gray-100">
                <tr>
                    <th class="border px-4 py-2 text-left">Id</th>
                    <th class="border px-4 py-2 text-left">Name</th>
                    <th class="border px-4 py-2 text-left">Email</th>
                    @if (AuthState?.User?.Roles != null)
                    {
                        @foreach (var role in AuthState.User.Roles)
                        {
                            @if (role == "Administrator")
                            {
                                <th class="border px-4 py-2 text-left">Actions</th>
                            }
                        }
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var vehicle in vehicles)
                {
                    <tr class="even:bg-gray-50 odd:bg-white">
                        <td class="border px-4 py-2">@vehicle.Id</td>
                        <td class="border px-4 py-2">@vehicle.Brand</td>
                        <td class="border px-4 py-2">@vehicle.Model</td>
                        @if (AuthState?.User?.Roles != null)
                        {
                            @foreach (var role in AuthState.User.Roles)
                            {
                                @if (role == "Administrator")
                                {
                                    <button class="btn my-1 mx-2 bg-yellow-500 text-white py-2 px-4 rounded">Edit</button>
                                    <button class="btn my-1 mx-2 bg-red-500 text-white py-2 px-4 rounded">Delete</button>
                                }
                            }
                        }
                    </tr>
                }
            </tbody>
        </table>

        <button @onclick="AddNewVehicle" class="btn my-5 bg-blue-500 text-white ml-auto py-2 px-4 rounded">
            Add vehicle
        </button>
    </div>

}
